# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
/data/
/raw_frames/
/autokeras_cv_project/
/*key*.json
/detections/
/cv_detections/

# Environment variables
.env

# Logs
*.log
/logs/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
coverage.xml
*.cover